<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863480350869-75b3o8d412kfcfvsg4ju22ldlkkbe15k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863480350869-75b3o8d412kfcfvsg4ju22ldlkkbe15k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>863480350869-7tpj9l0bh0eljrno9ciiam90gic60inf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNAZx547LxfeHB0IAw55bgRJiyzKrcmRc</string>
	<key>GCM_SENDER_ID</key>
	<string>863480350869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elvis.developedProjects</string>
	<key>PROJECT_ID</key>
	<string>developed-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>developed-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863480350869:ios:98b4c35f83d4fffe26f39c</string>
</dict>
</plist>